*{
    padding: 0px;
    margin: 0px;
}
header{

}
.grid{
    display: grid;
    
}
#menu{
    height: 100px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 0, 0, 0.08);
    display: grid;
    position: relative;
}

    .searchbar{
        position: relative;
        background: #f5f7f6;
        display: flex;
        width: 300px;
        margin: 12px 6px;
        float: right;
        background: #f5f7f6;
        border-radius: 18px;
        width: 300px;
        height: 36px;

        
        
    }
    .searchsvg{
        margin-right: 1rem;
        margin-top: 1%;

        }
    .brands{
        display: inline-block;
        font-size: 1rem;
        color: #000;
        letter-spacing: .08em;
        text-transform: uppercase;
        line-height: 18px;
        font-weight: 400;
        padding: 5px 16px;
        margin-top: 2%;
        margin-left: 1%;
        
        
    }
    .brands:hover{
        background-color: rgba(248, 248, 248, 0.911);
        border: 1px solid #fff;
        border-radius: 24px;
    }
    .gobinow{
        display: inline-block;
        font-size: 1rem;
        color: #000;
        letter-spacing: .08em;
        text-transform: uppercase;
        line-height: 18px;
        font-weight: 400;
        padding: 5px 16px;
        margin-top: 10px;
        margin-left: 1%;
    }
    .gobinow:hover{
        background-color: rgba(248, 248, 248, 0.911);
        border: 1px solid #fff;
        border-radius: 24px;
    }
    .sidenav{
        display: inline-block;
        font-size: 1rem;
        color: #000;
        letter-spacing: .08em;
        text-transform: uppercase;
        line-height: 18px;
        font-weight: 400;
        padding: 5px 16px;
    }
    .logo{
        display: inline-block;
        text-align: center;
        margin-left: 30%;
        position: absolute;
        top: 3%;
    }
    .search{
        width: 100%;
        font-size: 12px;
        line-height: 14px;
        background: transparent;
        color: #943737;
        border: none;
        outline: none;
        letter-spacing: 0.08em;

    }
   

.shoppy{
    display: grid;
    width: 60%;
    grid-template-columns: 70% 30%;
    
    margin: auto;
}
.shoppyP{
    top: 50%;    
}




.aboutUs{
    margin-left: auto;
}
input::placeholder {

  padding: 10px;
}

@media screen and (max-width: 760px;){
    width: 60%;
    margin left: auto;
    margin right: auto;
}






